brand.pug
extends assets/pug/base
block content
    .frame.frame-gslider.notPagination
        .frameWrapper.wrapper_1500
            .sliderFullBlock
                .sliderFullWrapper
                    .sliderListBlock
                        -let n = 0
                        ul.sliderList(data-swiper-autoplay="200000")
                            while n < 8
                                li.item
                                    .itemWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/1500x600")
                                        .contentBlock
                                            .contentWrapper
                                                .entryBlock
                                                    .title Официально представлен новый Hyundai Santa Fe
                                                    .actionBlock
                                                        a.action(href="#") Узнать больше
                                -n++
    main.mainAside.wrapper
        aside.aside
            .imageBlock
                img.image(src="assets/vis/bmw.png")
                p Легковые автомобили BMW имеют богатую историю и не менее перспективное будущее. Яркий пример баварских моторных заводов, аббревиатуру которых и носит марка БМВ, – легковые авто, характеризующиеся одними из лучших технических характеристик в мире. Производитель уже на протяжении столетия производит авто под лозунгом «с удовольствием за рулем». Купить BMW можно по всему миру. Производитель предлагает оптимальное соотношение цены и немецкого качества.
                .shareSocialBlock
                    .shareSocialWrapper
                        .caption BMW в соцсетях:
                        .socialList
                            li.item
                                a.icon-social.vk(href="#")
                            li.item
                                a.icon-social.facebook(href="#")
                            li.item
                                a.icon-social.inst(href="#")
                            li.item
                                a.icon-social.youtube(href="#")
        .contentMain
            .contactEntryBlock
                .headContent
                    .title ЭлитАвто (BMW)
                    .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                .contactContentBlock
                    .imageBlock
                        img.image(src="http://via.placeholder.com/540x270")
                    .contentBlock
                        .phoneBlock
                            a.action(href="tell:+73912204204") +7 391 2 204 204
                        .info Отдел продаж:  9.00-21.00 пн-вс.
                        .info Сервис:  9.00-21.00 пн-вс.
                        .info Отдел запчастей:  10.00-20.00 пн-вс.
                        .contactFooter
                            .shareSocialBlock
                                .shareSocialWrapper
                                    .socialList
                                        li.item
                                            a.icon-social.vk(href="#")
                                        li.item
                                            a.icon-social.facebook(href="#")
                                        li.item
                                            a.icon-social.inst(href="#")
                                        li.item
                                            a.icon-social.youtube(href="#")
                            .actionBlocks
                                .caption Сайты
                                .actionBlock
                                    a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                .actionBlock
                                    a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
            .frame-profitList.frame-sliderSmall.frame
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Акции ЭлитАвто
                                .actionMoreBlock
                                    a.action Смотреть все
                    .frameContent
                        .frameContentWrapper
                            .profitListBlock
                              -let slider1 = 0
                                ul.profitList(data-swiper-autoplay="2500")
                                    while slider1 < 5
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .entryWrapper
                                                        .imageBlock
                                                            img.image(src="https://via.placeholder.com/369x320")
                                                        .contentBlock
                                                            .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                            .caption Акция с 05.08.2020 до её отмены
                                        -slider1++
            .frame-newsList.frame-sliderSmall
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Новости ЭлитАвто
                                .actionMoreBlock
                                    a.action Смотреть все
                    .frameContent
                        .frameContentWrapper
                            .newsListBlock
                              -let news = 0
                                ul.newsList(data-swiper-autoplay="")
                                    while news < 5
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .entryWrapper
                                                        .imageBlock
                                                            img.image(src="https://via.placeholder.com/272x320")
                                                        .contentBlock
                                                            .data 25 мая 2020
                                                            .title Высшая школа автомобильного сервиса СФУ
                                        -news++

brand.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <div class="frame frame-gslider notPagination">
        <div class="frameWrapper wrapper_1500">
          <div class="sliderFullBlock">
            <div class="sliderFullWrapper">
              <div class="sliderListBlock">
                <ul class="sliderList" data-swiper-autoplay="200000">
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="mainAside wrapper">
        <aside class="aside">
          <div class="imageBlock"><img class="image" src="assets/vis/bmw.png">
            <p>Легковые автомобили BMW имеют богатую историю и не менее перспективное будущее. Яркий пример баварских моторных заводов, аббревиатуру которых и носит марка БМВ, – легковые авто, характеризующиеся одними из лучших технических характеристик в мире. Производитель уже на протяжении столетия производит авто под лозунгом «с удовольствием за рулем». Купить BMW можно по всему миру. Производитель предлагает оптимальное соотношение цены и немецкого качества.</p>
            <div class="shareSocialBlock">
              <div class="shareSocialWrapper">
                <div class="caption">BMW в соцсетях:</div>
                <div class="socialList">
                  <li class="item"><a class="icon-social vk" href="#"></a></li>
                  <li class="item"><a class="icon-social facebook" href="#"></a></li>
                  <li class="item"><a class="icon-social inst" href="#"></a></li>
                  <li class="item"><a class="icon-social youtube" href="#"></a></li>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div class="contentMain">
          <div class="contactEntryBlock">
            <div class="headContent">
              <div class="title">ЭлитАвто (BMW)</div>
              <div class="address">г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a></div>
            </div>
            <div class="contactContentBlock">
              <div class="imageBlock"><img class="image" src="http://via.placeholder.com/540x270"></div>
              <div class="contentBlock">
                <div class="phoneBlock"><a class="action" href="tell:+73912204204">+7 391 2 204 204</a></div>
                <div class="info">Отдел продаж:  9.00-21.00 пн-вс.</div>
                <div class="info">Сервис:  9.00-21.00 пн-вс.</div>
                <div class="info">Отдел запчастей:  10.00-20.00 пн-вс.</div>
                <div class="contactFooter">
                  <div class="shareSocialBlock">
                    <div class="shareSocialWrapper">
                      <div class="socialList">
                        <li class="item"><a class="icon-social vk" href="#"></a></li>
                        <li class="item"><a class="icon-social facebook" href="#"></a></li>
                        <li class="item"><a class="icon-social inst" href="#"></a></li>
                        <li class="item"><a class="icon-social youtube" href="#"></a></li>
                      </div>
                    </div>
                  </div>
                  <div class="actionBlocks">
                    <div class="caption">Сайты</div>
                    <div class="actionBlock"><a class="action" href="www.bmw-elitavto.ru">www.bmw-elitavto.ru</a></div>
                    <div class="actionBlock"><a class="action" href="www.moto-elitavto.ru">www.moto-elitavto.ru</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-profitList frame-sliderSmall frame">
            <div class="frameWrapper">
              <div class="frameHead">
                <div class="frameHeadWrapper">
                  <div class="titleBlock">
                    <div class="title">Акции ЭлитАвто</div>
                    <div class="actionMoreBlock"><a class="action">Смотреть все</a></div>
                  </div>
                </div>
              </div>
              <div class="frameContent">
                <div class="frameContentWrapper">
                  <div class="profitListBlock">
                    <ul class="profitList" data-swiper-autoplay="2500">
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x320"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x320"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x320"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x320"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x320"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-newsList frame-sliderSmall">
            <div class="frameWrapper">
              <div class="frameHead">
                <div class="frameHeadWrapper">
                  <div class="titleBlock">
                    <div class="title">Новости ЭлитАвто</div>
                    <div class="actionMoreBlock"><a class="action">Смотреть все</a></div>
                  </div>
                </div>
              </div>
              <div class="frameContent">
                <div class="frameContentWrapper">
                  <div class="newsListBlock">
                    <ul class="newsList" data-swiper-autoplay="">
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                              <div class="contentBlock">
                                <div class="data">25 мая 2020</div>
                                <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                              <div class="contentBlock">
                                <div class="data">25 мая 2020</div>
                                <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                              <div class="contentBlock">
                                <div class="data">25 мая 2020</div>
                                <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                              <div class="contentBlock">
                                <div class="data">25 мая 2020</div>
                                <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                              <div class="contentBlock">
                                <div class="data">25 мая 2020</div>
                                <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>
