contacts.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Контакты салонов
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все марки
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
            //.infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain.tabsBox.customTabs
            .tabsListBlock.hiddenMobile
                ul.tabsList
                    li.tabAction.active
                        .itemWrapper
                            a.action.notJs(href="#list") Списком
                    li.tabAction
                        .itemWrapper
                            a.action.notJs(href="#maps") На карте
            #target
                .tabContent.active.visibleMobile#list
                    .contactListBlock
                        ul.contactList.mapContactList
                            li.contact(data-coord="56.011927,92.864452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                            li.contact(data-coord="56.211927,92.564452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                            li.contact(data-coord="56.411927,92.164452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                .tabContent#maps
                    .mapContactBlock
                        .mapContact#map

contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Контакты салонов</h2>
          <form class="fieldBlock filter" data-request-source="#target" method="get" action="/publications/news/">
            <ul class="fieldList">
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Все города</option>
                    <option value="Красноярск">Красноярск</option>
                    <option value="Питер">Питер</option>
                    <option value="Казань">Казань</option>
                    <option value="Иркутск">Иркутск</option>
                  </select>
                </label>
              </li>
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Все марки</option>
                    <option value="Красноярск">BMW</option>
                    <option value="Питер">SUZUKI</option>
                  </select>
                </label>
              </li>
            </ul>
          </form>
          <!--.infoAction
          .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
          div.phoneBlock
              a.action(href="#") +7 (391) 219-04-65
          div.phoneBlock
              a.action(href="#") +7 (391) 219-04-65
          div.phoneBlock
              a.action(href="#") +7 (391) 219-04-65
          -->
        </aside>
        <div class="contentMain tabsBox customTabs">
          <div class="tabsListBlock hiddenMobile">
            <ul class="tabsList">
              <li class="tabAction active">
                <div class="itemWrapper"><a class="action notJs" href="#list">Списком</a></div>
              </li>
              <li class="tabAction">
                <div class="itemWrapper"><a class="action notJs" href="#maps">На карте</a></div>
              </li>
            </ul>
          </div>
          <div id="target">
            <div class="tabContent active visibleMobile" id="list">
              <div class="contactListBlock">
                <ul class="contactList mapContactList">
                  <li class="contact" data-coord="56.011927,92.864452">
                    <div class="contactEntryBlock">
                      <div class="headContent">
                        <div class="title">ЭлитАвто (BMW)</div>
                        <div class="address">г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a></div>
                      </div>
                      <div class="contactContentBlock">
                        <div class="imageBlock"><img class="image" src="http://via.placeholder.com/540x270"></div>
                        <div class="contentBlock">
                          <div class="phoneBlock"><a class="action" href="tell:+73912204204">+7 391 2 204 204</a></div>
                          <div class="info">Отдел продаж:  9.00-21.00 пн-вс.</div>
                          <div class="info">Сервис:  9.00-21.00 пн-вс.</div>
                          <div class="info">Отдел запчастей:  10.00-20.00 пн-вс.</div>
                          <div class="contactFooter">
                            <div class="shareSocialBlock">
                              <div class="shareSocialWrapper">
                                <ul class="socialList">
                                  <li class="item"><a class="icon-social vk" href="#"></a></li>
                                  <li class="item"><a class="icon-social facebook" href="#"></a></li>
                                  <li class="item"><a class="icon-social inst" href="#"></a></li>
                                  <li class="item"><a class="icon-social youtube" href="#"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="actionBlocks">
                              <div class="caption">Сайты</div>
                              <div class="actionBlock"><a class="action" href="www.bmw-elitavto.ru">www.bmw-elitavto.ru</a></div>
                              <div class="actionBlock"><a class="action" href="www.moto-elitavto.ru">www.moto-elitavto.ru</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="contact" data-coord="56.211927,92.564452">
                    <div class="contactEntryBlock">
                      <div class="headContent">
                        <div class="title">ЭлитАвто (BMW)</div>
                        <div class="address">г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a></div>
                      </div>
                      <div class="contactContentBlock">
                        <div class="imageBlock"><img class="image" src="http://via.placeholder.com/540x270"></div>
                        <div class="contentBlock">
                          <div class="phoneBlock"><a class="action" href="tell:+73912204204">+7 391 2 204 204</a></div>
                          <div class="info">Отдел продаж:  9.00-21.00 пн-вс.</div>
                          <div class="info">Сервис:  9.00-21.00 пн-вс.</div>
                          <div class="info">Отдел запчастей:  10.00-20.00 пн-вс.</div>
                          <div class="contactFooter">
                            <div class="shareSocialBlock">
                              <div class="shareSocialWrapper">
                                <ul class="socialList">
                                  <li class="item"><a class="icon-social vk" href="#"></a></li>
                                  <li class="item"><a class="icon-social facebook" href="#"></a></li>
                                  <li class="item"><a class="icon-social inst" href="#"></a></li>
                                  <li class="item"><a class="icon-social youtube" href="#"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="actionBlocks">
                              <div class="caption">Сайты</div>
                              <div class="actionBlock"><a class="action" href="www.bmw-elitavto.ru">www.bmw-elitavto.ru</a></div>
                              <div class="actionBlock"><a class="action" href="www.moto-elitavto.ru">www.moto-elitavto.ru</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="contact" data-coord="56.411927,92.164452">
                    <div class="contactEntryBlock">
                      <div class="headContent">
                        <div class="title">ЭлитАвто (BMW)</div>
                        <div class="address">г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a></div>
                      </div>
                      <div class="contactContentBlock">
                        <div class="imageBlock"><img class="image" src="http://via.placeholder.com/540x270"></div>
                        <div class="contentBlock">
                          <div class="phoneBlock"><a class="action" href="tell:+73912204204">+7 391 2 204 204</a></div>
                          <div class="info">Отдел продаж:  9.00-21.00 пн-вс.</div>
                          <div class="info">Сервис:  9.00-21.00 пн-вс.</div>
                          <div class="info">Отдел запчастей:  10.00-20.00 пн-вс.</div>
                          <div class="contactFooter">
                            <div class="shareSocialBlock">
                              <div class="shareSocialWrapper">
                                <ul class="socialList">
                                  <li class="item"><a class="icon-social vk" href="#"></a></li>
                                  <li class="item"><a class="icon-social facebook" href="#"></a></li>
                                  <li class="item"><a class="icon-social inst" href="#"></a></li>
                                  <li class="item"><a class="icon-social youtube" href="#"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="actionBlocks">
                              <div class="caption">Сайты</div>
                              <div class="actionBlock"><a class="action" href="www.bmw-elitavto.ru">www.bmw-elitavto.ru</a></div>
                              <div class="actionBlock"><a class="action" href="www.moto-elitavto.ru">www.moto-elitavto.ru</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tabContent" id="maps">
              <div class="mapContactBlock">
                <div class="mapContact" id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>
