form-service.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Контакты салонов</h2>
          <div class="infoAction">
            <div class="caption">По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов</div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
          </div>
        </aside>
        <div class="contentMain">
          <h2 class="h2">Записаться на сервисное обслуживание</h2>
          <form class="fieldBlock formService">
            <ul class="fieldList">
              <li class="field">
                <label class="wrap">
                  <div class="caption">Выберите сервисный центр *</div>
                  <select required>
                    <option selected value="bmw">BMW</option>
                    <option value="lada">lada</option>
                    <option value="suzuki">suzuki</option>
                  </select>
                </label>
              </li>
              <li class="fieldGroup field col">
                <ul class="fieldList">
                  <li class="field">
                    <label class="wrap">
                      <div class="caption">Марка *</div>
                      <select required>
                        <option selected value="bmw">BMW</option>
                        <option value="lada">lada</option>
                        <option value="suzuki">suzuki</option>
                      </select>
                    </label>
                  </li>
                  <li class="field">
                    <label class="wrap">
                      <div class="caption">Модель *</div>
                      <select required>
                        <option selected value="bmw">X5</option>
                        <option value="lada">X20</option>
                        <option value="suzuki">X100</option>
                      </select>
                    </label>
                  </li>
                </ul>
              </li>
              <li class="fieldGroup field col">
                <ul class="fieldList">
                  <li class="field">
                    <label class="wrap">
                      <div class="caption">Фамилия, имя, отчество</div>
                      <input name="fio" placeholder="Иванов Иван Иванович">
                    </label>
                  </li>
                  <li class="field">
                    <label class="wrap">
                      <div class="caption">Телефон *</div>
                      <input class="phone" type="tel" required placeholder="+ 7 (____) ____-___-___">
                    </label>
                  </li>
                </ul>
              </li>
              <li class="fieldGroup field col">
                <ul class="fieldList">
                  <li class="field">
                    <label class="wrap">
                      <div class="caption">Удобная дата *</div>
                      <input name="date" type="date" autocomplete="off" required>
                    </label>
                  </li>
                  <li class="field time">
                    <label class="wrap">
                      <div class="caption">Удобное время</div>
                      <input type="time" placeholder="__:__">
                    </label>
                  </li>
                </ul>
              </li>
              <li class="field">
                <label class="wrap">
                  <div class="caption">Комментарий</div>
                  <textarea name="comment"></textarea>
                </label>
              </li>
              <li class="field fieldGroup col">
                <ul class="fieldList">
                  <li class="field">
                    <label class="wrap">
                      <input type="checkbox" name="personal" required>
                      <div class="caption">Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a></div>
                    </label>
                  </li>
                  <li class="field">
                    <div class="wrap">
                      <div class="submitBlock">
                        <button class="submit">Отправить</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

form-service.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Контакты салонов
            .infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain
            h2.h2 Записаться на сервисное обслуживание
            form.fieldBlock.formService
                ul.fieldList
                    li.field
                        label.wrap
                            .caption Выберите сервисный центр *
                            select(required)
                                option(selected value="bmw") BMW
                                option(value="lada") lada
                                option(value="suzuki") suzuki
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Марка *
                                    select(required)
                                        option(selected value="bmw") BMW
                                        option(value="lada") lada
                                        option(value="suzuki") suzuki
                            li.field
                                label.wrap
                                    .caption Модель *
                                    select(required)
                                        option(selected value="bmw") X5
                                        option(value="lada") X20
                                        option(value="suzuki") X100
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Фамилия, имя, отчество
                                    input(name="fio" placeholder="Иванов Иван Иванович")
                            li.field
                                label.wrap
                                    .caption Телефон *
                                    input.phone(type='tel' required placeholder="+ 7 (____) ____-___-___")
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Удобная дата *
                                    input(name="date" type="date" autocomplete="off" required)
                            li.field.time
                                label.wrap
                                    .caption Удобное время
                                    input(type='time' placeholder="__:__")
                    li.field
                        label.wrap
                            .caption Комментарий
                            textarea(name='comment')
                    li.field.fieldGroup.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    input(type="checkbox" name="personal" required)
                                    .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                            li.field
                                .wrap
                                    .submitBlock
                                        button.submit Отправить
