insurance.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="pageChild" id="page">
      <header class="jsContentHide header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action" href="#">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action" href="#">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <div class="frame frame-gslider">
        <div class="frameWrapper wrapper_1500">
          <div class="sliderFullBlock">
            <div class="sliderFullWrapper">
              <div class="sliderListBlock">
                <ul class="sliderList" data-swiper-autoplay="10000">
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="https://via.placeholder.com/1500x600"></div>
                      <div class="contentBlock">
                        <div class="contentWrapper">
                          <div class="entryBlock">
                            <div class="title">Официально представлен новый Hyundai Santa Fe</div>
                            <div class="actionBlock"><a class="action actionEntry alt" href="#">Узнать больше</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-advantages frame">
        <div class="frameWrapper wrapper">
          <div class="frameHead">
            <div class="frameHeadWrapper wrapper">
              <div class="titleBlock">
                <div class="title">Преимущества страхования</div>
              </div>
            </div>
          </div>
          <div class="frameContent wrapper">
            <div class="frameContentWrapper">
              <div class="advantagesListBlock">
                <ul class="advantagesList">
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="assets/vis/advantage1.svg"></div>
                      <div class="caption">Надежно</div>
                      <div class="description">Только проверенные страховые компании</div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="assets/vis/advantage2.svg"></div>
                      <div class="caption">Выгодно</div>
                      <div class="description">Скидка при оплате онлайн</div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="assets/vis/advantage3.svg"></div>
                      <div class="caption">Безопасно</div>
                      <div class="description">Не выходя из дома, комфортно и безопасно</div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="imageBlock"><img class="image" src="assets/vis/advantage4.png"></div>
                      <div class="caption">Удобно</div>
                      <div class="description">Ремонт на СТО «Медведь–Холдинг»</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="formFeedbackBlock">
          <div class="formFeedbackWrapper">
            <div class="contentWrapper">
              <div class="title">Не нашли подходящую вакансию?</div>
              <div class="description">
                <p>Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!</p>
                <p>Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: resume@medved-holding.com</p>
                <div class="actionBlock"><a class="action" href="#">Скачать файл-анкету Медведь Холдинг</a></div>
                <p class="small">При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии</p>
              </div>
            </div>
            <picture>
              <source srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)">
              <source srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)"><img class="image" src="assets/vis/formfeedback.jpg">
            </picture>
          </div>
        </div>
      </div>
      <div class="contentEditBlock wrapper">
        <p>Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.</p>
        <p>Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.</p>
      </div>
      <div class="frame-partners frame">
        <div class="frameWrapper wrapper">
          <div class="frameHead">
            <div class="frameHeadWrapper">
              <div class="titleBlock">
                <div class="title">Партнеры</div>
              </div>
            </div>
          </div>
          <div class="frameContent">
            <div class="frameContentWrapper">
              <div class="partnerListBlock">
                <ul class="partnerList">
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img src="http://via.placeholder.com/130x24"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordionListBlock wrapper" id="target">
        <ul class="accordionList">
          <li class="item">
            <div class="entryBlock">
              <div class="entryWrapper">
                <div class="headContent">
                  <div class="title">Продавец</div>
                </div>
                <div class="contentBlock">
                  <div class="contentWrapper">
                    <div class="infoBlock">
                      <div class="caption">ОБЯЗАННОСТИ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                  </div>
                </div>
                <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="entryBlock">
              <div class="entryWrapper">
                <div class="headContent">
                  <div class="title">Программист 1С</div>
                </div>
                <div class="contentBlock">
                  <div class="contentWrapper">
                    <div class="infoBlock">
                      <div class="caption">ОБЯЗАННОСТИ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:
                        <ul>
                          <li>Автоматизация бизнес-процессов Компании;</li>
                          <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                          <li>Самостоятельное внедрение программных решений;</li>
                          <li>Оказание консультативной поддержки пользователям.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                  </div>
                </div>
                <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="entryBlock">
              <div class="entryWrapper">
                <div class="headContent">
                  <div class="title">Автомеханик</div>
                </div>
                <div class="contentBlock">
                  <div class="contentWrapper">
                    <div class="infoBlock">
                      <div class="caption">ОБЯЗАННОСТИ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:
                        <ul>
                          <li>Автоматизация бизнес-процессов Компании;</li>
                          <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                          <li>Самостоятельное внедрение программных решений;</li>
                          <li>Оказание консультативной поддержки пользователям.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                  </div>
                </div>
                <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="entryBlock">
              <div class="entryWrapper">
                <div class="headContent">
                  <div class="title">Продавец</div>
                </div>
                <div class="contentBlock">
                  <div class="contentWrapper">
                    <div class="infoBlock">
                      <div class="caption">ОБЯЗАННОСТИ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:</div>
                      <ul>
                        <li>Автоматизация бизнес-процессов Компании;</li>
                        <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                        <li>Самостоятельное внедрение программных решений;</li>
                        <li>Оказание консультативной поддержки пользователям.</li>
                      </ul>
                    </div>
                    <div class="infoBlock">
                      <div class="caption">ТРЕБОВАНИЯ:
                        <ul>
                          <li>Автоматизация бизнес-процессов Компании;</li>
                          <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                          <li>Самостоятельное внедрение программных решений;</li>
                          <li>Оказание консультативной поддержки пользователям.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                  </div>
                </div>
                <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

insurance.pug
extends assets/pug/base-notHeaderJs
block content
    .frame.frame-gslider
        .frameWrapper.wrapper_1500
            .sliderFullBlock
                .sliderFullWrapper
                    .sliderListBlock
                        -let n = 0
                        ul.sliderList(data-swiper-autoplay="10000")
                            while n < 1
                                li.item
                                    .itemWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/1500x600")
                                        .contentBlock
                                            .contentWrapper
                                                .entryBlock
                                                    .title Официально представлен новый Hyundai Santa Fe
                                                    .actionBlock
                                                        a.action.actionEntry.alt(href="#") Узнать больше
                                -n++
    .frame-advantages.frame
        .frameWrapper.wrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Преимущества страхования
            .frameContent.wrapper
                .frameContentWrapper
                    .advantagesListBlock
                        ul.advantagesList
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage1.svg")
                                    .caption Надежно
                                    .description Только проверенные страховые компании
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage2.svg")
                                    .caption Выгодно
                                    .description Скидка при оплате онлайн
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage3.svg")
                                    .caption Безопасно
                                    .description Не выходя из дома, комфортно и безопасно
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage4.png")
                                    .caption Удобно
                                    .description Ремонт на СТО «Медведь–Холдинг»
    .wrapper
        .formFeedbackBlock
            .formFeedbackWrapper
                .contentWrapper
                    .title Не нашли подходящую вакансию?
                    .description
                        p Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!
                        p Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: resume@medved-holding.com
                        .actionBlock
                            a.action(href="#") Скачать файл-анкету Медведь Холдинг
                        p.small При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии
                picture
                    source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                    source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                    img.image(src="assets/vis/formfeedback.jpg")
    .contentEditBlock.wrapper
        p Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.
        p Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.
    .frame-partners.frame
        .frameWrapper.wrapper
            .frameHead
                .frameHeadWrapper
                    .titleBlock
                        .title Партнеры
            .frameContent
                .frameContentWrapper
                    .partnerListBlock
                        -let partner = 0
                        ul.partnerList
                            while partner < 10
                                li.item
                                    .itemWrapper
                                        img(src="http://via.placeholder.com/130x24")
                                -partner++
    .accordionListBlock#target.wrapper
        ul.accordionList
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Продавец
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Программист 1С
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Автомеханик
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Продавец
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
