news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Новости</h2>
          <form class="fieldBlock filter" data-request-source="#target" method="get" action="/publications/news/">
            <ul class="fieldList">
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Все города</option>
                    <option value="Красноярск">Красноярск</option>
                    <option value="Питер">Питер</option>
                    <option value="Казань">Казань</option>
                    <option value="Иркутск">Иркутск</option>
                  </select>
                </label>
              </li>
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Все марки</option>
                    <option value="Красноярск">BMW</option>
                    <option value="Питер">SUZUKI</option>
                  </select>
                </label>
              </li>
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>За все время</option>
                    <option value="За неделю">За неделю</option>
                    <option value="За месяц">За месяц</option>
                    <option value="За год">За год</option>
                  </select>
                </label>
              </li>
            </ul>
            <div class="tagsActionBlock">
              <ul class="tagsActionList">
                <li class="tagAction">
                  <label class="wrap">
                    <input type="checkbox" name="1"><span class="caption">Продажи</span>
                  </label>
                </li>
                <li class="tagAction">
                  <label class="wrap">
                    <input type="checkbox" name="2"><span class="caption">Сервис</span>
                  </label>
                </li>
                <li class="tagAction">
                  <label class="wrap">
                    <input type="checkbox" name="3"><span class="caption">Общие</span>
                  </label>
                </li>
                <li class="tagAction">
                  <label class="wrap">
                    <input type="checkbox" name="4"><span class="caption">Корпоративные</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="actionBlock">
              <div class="action">Новости холдинга</div>
            </div>
          </form>
        </aside>
        <div class="contentMain">
          <div id="target">
            <div class="newsListBlock">
              <ul class="newsList static paginatorTarget">
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="itemWrapper">
                    <div class="entryBlock">
                      <div class="entryWrapper">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/272x320"></div>
                        <div class="contentBlock">
                          <div class="data">25 мая 2020</div>
                          <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="paginationBlock">
              <div class="paginationWrapper">
                <div class="paginationListBlock">
                  <ul class="paginationList">
                    <li class="item item-prev navigation"><a class="action" href="#">Назад</a></li>
                    <li class="item active"><a class="action" href="#">2</a></li>
                    <li class="item"><a class="action" href="#">3</a></li>
                    <li class="item"><a class="action" href="#">4</a></li>
                    <li class="item"><a class="action" href="#">5</a></li>
                    <li class="item"><a class="action" href="#">6</a></li>
                    <li class="item"><a class="action" href="#">7</a></li>
                    <li class="item"><a class="action" href="#">...</a></li>
                    <li class="item"><a class="action" href="#">15</a></li>
                    <li class="item item-next item navigation"><a class="action" href="#">Вперед</a></li>
                  </ul>
                </div>
                <div class="paginationCaptionBlock"><a class="paginationCaption" href="/publications/news/?year=2020&amp;page=3" data-src=".paginatorTarget">Показать еще</a></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

news.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Новости
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все марки
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
                    li.field
                        label.wrap
                            select
                                option(value='' selected) За все время
                                option(value='За неделю') За неделю
                                option(value='За месяц') За месяц
                                option(value='За год') За год
                .tagsActionBlock
                    ul.tagsActionList
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="1")
                                span.caption Продажи
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="2")
                                span.caption Сервис
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="3")
                                span.caption Общие
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="4")
                                span.caption Корпоративные
                .actionBlock
                    .action Новости холдинга
        .contentMain
            #target
                .newsListBlock
                    -let news = 0
                    ul.newsList.static.paginatorTarget
                        while news < 9
                            li.item
                                .itemWrapper
                                    .entryBlock
                                        .entryWrapper
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/272x320")
                                            .contentBlock
                                                .data 25 мая 2020
                                                .title Высшая школа автомобильного сервиса СФУ
                            -news++
                +pagination
