news-detail.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Новости</h2>
          <div class="infoBlock">
            <div class="actionBreadcrumbs"><a class="actionMoreBread" href="#">Все Новости</a></div>
            <div class="date">25 мая 2020</div>
          </div>
          <div class="tagsActionBlock">
            <ul class="tagsActionList">
              <li class="tagAction"><a class="action" href="#">Высшая школа автомобильного сервиса</a></li>
            </ul>
          </div>
        </aside>
        <div class="contentMain">
          <div class="headImageBlock">
            <div class="contentBlock">
              <div class="date">25 мая 2020</div>
              <div class="title">Simply Clever – решения Škoda для перевозки багажа в путешествиях</div>
            </div>
            <div class="imageBlock"><img class="image" src="http://via.placeholder.com/576x320"></div>
          </div>
          <div class="contentEditBlock">
            <p>Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.</p>
            <p>Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.</p>
          </div>
          <div class="contentEditBlock">
            <div class="contentImage left">
              <picture class="imageBlock">
                <source srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)">
                <source srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)"><img class="image" src="http://via.placeholder.com/265x250">
              </picture>
              <h2>Багажники на крышу для всех моделей ŠKODA</h2>
              <p>Багажники на крышу предлагаются для всех без исключения моделей ŠKODA вне зависимости от того, оснащены они рейлингами или нет. Длинные и крупногабаритные грузы, которые не вмещаются в багажное отделение, можно крепить прямо к поперечинам багажника. Когда они не используются, база и поперечины компактно складываются в специальную сумку. Легкие в креплении боксы объемом до 400 л позволяют разместить большую часть вещей для отпуска и являются идеальным дополнением к багажнику на крыше. Боксы ŠKODA водонепроницаемы, запираются и доступны в трех цветах: черном, серебристом и белом. Благодаря обтекаемой форме они почти не оказывают негативного влияния на расход топлива, шум в салоне или курсовую устойчивость автомобиля на высокой скорости.</p>
            </div>
          </div>
          <div class="imageGallery">
            <div class="imagesListBlock">
              <ul class="imagesList">
                <li class="item">
                  <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                </li>
                <li class="item">
                  <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                </li>
                <li class="item">
                  <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                </li>
                <li class="item">
                  <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                </li>
                <li class="item">
                  <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="contentEditBlock">
            <div class="contentImage right">
              <picture class="imageBlock">
                <source srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)">
                <source srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)"><img class="image" src="http://via.placeholder.com/265x250">
              </picture>
              <h2>Держатели для велосипедов <br>и лыжного снаряжения на крыше</h2>
              <p>ŠKODA также предлагает своим клиентам ряд практичных и надежных решений для перевозки спортивного инвентаря. Например, для транспортировки велосипедов доступны специальные держатели на крышу, которое можно установить непосредственно на базовые элементы багажника на крыше или на поперечные опоры, зафиксированные на рейлингах. Такое устройство позволяет перевозить до трех велосипедов. Поклонники зимних видов спорта также оценят держатели для лыжного снаряжения на крышу, доступные для лифтбеков RAPID, OCTAVIA и SUPERB, а также моделей KAROQ и KODIAQ. Держатель предназначен для перевозки 4 пар лыж или 2 сноубордов.</p>
            </div>
          </div>
          <div class="contentEditBlock">
            <div class="contentImage left">
              <picture class="imageBlock">
                <source srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)">
                <source srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)"><img class="image" src="http://via.placeholder.com/265x250">
              </picture>
              <h2>Советы по загрузке и вождению автомобиля с багажником, боксом на крыше и т.д.</h2>
              <p>Базовое правило – размещать более тяжелый багаж как можно ниже, поскольку более высокий центр тяжести негативно влияет на управляемость автомобиля, особенно в крутых поворотах.</p>
              <p>Убедитесь, что багаж на крыше надежно закреплен – в противном случае при резком торможении он может слететь, представляя опасность для окружающих. Всегда соблюдайте ограничения по максимальной нагрузке на крышу – для SUPERB она составляет до 100 кг, для всех остальных моделей ŠKODA – 75 кг.</p>
            </div>
          </div>
          <div class="contentEditBlock">
            <h3>Важная информация</h3>
            <ul>
              <li>Длинные и тяжелые предметы следует размещать в боксе на крыше в первую очередь и надежно фиксировать. В передней части бокса можно разместить такие вещи, как куртки или спальные мешки – они создадут необходимую подушку для тяжелых грузов. Старайтесь заполнять все оставшиеся зазоры, чтобы багаж не перемещался внутри бокса во время движения.</li>
              <li>При движении по многоярусным паркингам учитывайте увеличившуюся высоту автомобиля с установленным на крыше боксом. Модели SUV, такие как KODIAQ и KAROQ, могут легко стать выше двух метров.</li>
              <li>После нескольких километров (или как минимум во время первой остановки по пути) проверьте багаж и крепления. При необходимости отрегулируйте их.</li>
              <li>При движении с грузом на крыше, помните, что центр тяжести становится выше, а сопротивление воздуху увеличивается – это приводит к изменению характера управляемости и увеличению тормозного пути. Если багажник на крыше или бокс не используются, их следует демонтировать – это позволит сэкономить топливо.</li>
            </ul>
          </div>
          <div class="shareSocialBlock">
            <div class="shareSocialWrapper">
              <div class="caption">Поделитесь с друзьями:</div>
              <div class="socialList">
                <li class="item"><a class="icon-social vk" href="#"></a></li>
                <li class="item"><a class="icon-social facebook" href="#"></a></li>
                <li class="item"><a class="icon-social ok" href="#"></a></li>
              </div>
            </div>
          </div>
          <div class="formFeedbackBlock">
            <div class="formFeedbackWrapper">
              <div class="title">Заинтересовала новость?</div>
              <div class="description">Оставьте свои контакты, мы свяжемся с вами и расскажем подробности</div>
              <div class="formContent">
                <div class="fieldBlock">
                  <ul class="fieldList">
                    <li class="field fieldGroup col">
                      <ul class="fieldList">
                        <li class="field">
                          <label class="wrap">
                            <div class="caption">ФИО *</div>
                            <input type="text" placeholder="Иванов Иван Иванович">
                          </label>
                        </li>
                        <li class="field">
                          <label class="wrap">
                            <div class="caption">Телефон *</div>
                            <input class="phone" type="tel" placeholder="Иванов Иван Иванович">
                          </label>
                        </li>
                      </ul>
                    </li>
                    <li class="field fieldGroup col">
                      <ul class="fieldList">
                        <li class="field">
                          <label class="wrap">
                            <input type="checkbox" name="personal" required>
                            <div class="caption">Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a></div>
                          </label>
                        </li>
                        <li class="field">
                          <div class="wrap">
                            <div class="submitBlock">
                              <button class="submit">Жду звонка</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <picture>
                <source srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)">
                <source srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)"><img class="image" src="assets/vis/formfeedback.jpg">
              </picture>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

news-detail.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Новости
            .infoBlock
                .actionBreadcrumbs
                    a.actionMoreBread(href="#") Все Новости
                .date 25 мая 2020
            .tagsActionBlock
                ul.tagsActionList
                    li.tagAction
                        a.action(href="#") Высшая школа автомобильного сервиса
        .contentMain
            .headImageBlock
                .contentBlock
                    .date 25 мая 2020
                    .title Simply Clever – решения Škoda для перевозки багажа в путешествиях
                .imageBlock
                    img.image(src="http://via.placeholder.com/576x320")
            .contentEditBlock
                p Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.
                p Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.
            .contentEditBlock
                .contentImage.left
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Багажники на крышу для всех моделей ŠKODA
                    p Багажники на крышу предлагаются для всех без исключения моделей ŠKODA вне зависимости от того, оснащены они рейлингами или нет. Длинные и крупногабаритные грузы, которые не вмещаются в багажное отделение, можно крепить прямо к поперечинам багажника. Когда они не используются, база и поперечины компактно складываются в специальную сумку. Легкие в креплении боксы объемом до 400 л позволяют разместить большую часть вещей для отпуска и являются идеальным дополнением к багажнику на крыше. Боксы ŠKODA водонепроницаемы, запираются и доступны в трех цветах: черном, серебристом и белом. Благодаря обтекаемой форме они почти не оказывают негативного влияния на расход топлива, шум в салоне или курсовую устойчивость автомобиля на высокой скорости.
            .imageGallery
                .imagesListBlock
                    ul.imagesList
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
            .contentEditBlock
                .contentImage.right
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Держатели для велосипедов <br>и лыжного снаряжения на крыше
                    p ŠKODA также предлагает своим клиентам ряд практичных и надежных решений для перевозки спортивного инвентаря. Например, для транспортировки велосипедов доступны специальные держатели на крышу, которое можно установить непосредственно на базовые элементы багажника на крыше или на поперечные опоры, зафиксированные на рейлингах. Такое устройство позволяет перевозить до трех велосипедов. Поклонники зимних видов спорта также оценят держатели для лыжного снаряжения на крышу, доступные для лифтбеков RAPID, OCTAVIA и SUPERB, а также моделей KAROQ и KODIAQ. Держатель предназначен для перевозки 4 пар лыж или 2 сноубордов.
            .contentEditBlock
                .contentImage.left
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Советы по загрузке и вождению автомобиля с багажником, боксом на крыше и т.д.
                    p Базовое правило – размещать более тяжелый багаж как можно ниже, поскольку более высокий центр тяжести негативно влияет на управляемость автомобиля, особенно в крутых поворотах.
                    p Убедитесь, что багаж на крыше надежно закреплен – в противном случае при резком торможении он может слететь, представляя опасность для окружающих. Всегда соблюдайте ограничения по максимальной нагрузке на крышу – для SUPERB она составляет до 100 кг, для всех остальных моделей ŠKODA – 75 кг.
            .contentEditBlock
                h3 Важная информация
                ul
                    li Длинные и тяжелые предметы следует размещать в боксе на крыше в первую очередь и надежно фиксировать. В передней части бокса можно разместить такие вещи, как куртки или спальные мешки – они создадут необходимую подушку для тяжелых грузов. Старайтесь заполнять все оставшиеся зазоры, чтобы багаж не перемещался внутри бокса во время движения.
                    li При движении по многоярусным паркингам учитывайте увеличившуюся высоту автомобиля с установленным на крыше боксом. Модели SUV, такие как KODIAQ и KAROQ, могут легко стать выше двух метров.
                    li После нескольких километров (или как минимум во время первой остановки по пути) проверьте багаж и крепления. При необходимости отрегулируйте их.
                    li При движении с грузом на крыше, помните, что центр тяжести становится выше, а сопротивление воздуху увеличивается – это приводит к изменению характера управляемости и увеличению тормозного пути. Если багажник на крыше или бокс не используются, их следует демонтировать – это позволит сэкономить топливо.
            .shareSocialBlock
                .shareSocialWrapper
                    .caption Поделитесь с друзьями:
                    .socialList
                        li.item
                            a.icon-social.vk(href="#")
                        li.item
                            a.icon-social.facebook(href="#")
                        li.item
                            a.icon-social.ok(href="#")
            .formFeedbackBlock
                .formFeedbackWrapper
                    .title Заинтересовала новость?
                    .description Оставьте свои контакты, мы свяжемся с вами и расскажем подробности
                    .formContent
                        .fieldBlock
                            ul.fieldList
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                .caption ФИО *
                                                input(type="text" placeholder="Иванов Иван Иванович")
                                        li.field
                                            label.wrap
                                                .caption Телефон *
                                                input.phone(type="tel" placeholder="Иванов Иван Иванович")
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                input(type="checkbox" name="personal" required)
                                                .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                                        li.field
                                            .wrap
                                                .submitBlock
                                                    button.submit Жду звонка
                    picture
                        source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formfeedback.jpg")
