project.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <div class="frame-projectAlt frame">
        <div class="frameWrapper">
          <div class="frameHead">
            <div class="frameHeadWrapper wrapper">
              <div class="titleBlock">
                <div class="title">Проекты «Медведь Холдинг»</div>
              </div>
            </div>
          </div>
          <div class="frameContent wrapper">
            <div class="frameContentWrapper">
              <div class="projectListBlock">
                <ul class="projectListAlt">
                  <li class="item">
                    <div class="entryBlock"><a class="entryWrapper" href="#" data-title="Доступный сервис">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/500x630"></div>
                        <div class="contentBlock">
                          <div class="contentWrapper">
                            <div class="title">Доступный сервис</div>
                          </div>
                        </div></a></div>
                  </li>
                  <li class="item">
                    <div class="entryBlock"><a class="entryWrapper" href="#" data-title="Trade-in">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/500x630"></div>
                        <div class="contentBlock">
                          <div class="contentWrapper">
                            <div class="title">Trade-in</div>
                          </div>
                        </div></a></div>
                  </li>
                  <li class="item">
                    <div class="entryBlock"><a class="entryWrapper" href="#" data-title="Высшая школа автомобильного сервиса СФУ">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/500x630"></div>
                        <div class="contentBlock">
                          <div class="contentWrapper">
                            <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                          </div>
                        </div></a></div>
                  </li>
                  <li class="item">
                    <div class="entryBlock"><a class="entryWrapper" href="#" data-title="Медведь АКБ">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/500x630"></div>
                        <div class="contentBlock">
                          <div class="contentWrapper">
                            <div class="title">Медведь АКБ</div>
                          </div>
                        </div></a></div>
                  </li>
                  <li class="item">
                    <div class="entryBlock"><a class="entryWrapper" href="#" data-title="Экстрим">
                        <div class="imageBlock"><img class="image" src="https://via.placeholder.com/500x630"></div>
                        <div class="contentBlock">
                          <div class="contentWrapper">
                            <div class="title">Экстрим</div>
                          </div>
                        </div></a></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-careList frame-sliderSmall frame">
        <div class="frameWrapper">
          <div class="frameHead">
            <div class="frameHeadWrapper wrapper">
              <div class="titleBlock">
                <div class="title">Забота о клиентах</div>
              </div>
            </div>
          </div>
          <div class="frameContent wrapper">
            <div class="frameContentWrapper">
              <div class="careListBlock notJs">
                <ul class="careList" data-swiper-autoplay="2000">
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="entryBlock">
                        <div class="entryWrapper">
                          <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x280"></div>
                          <div class="contentBlock">
                            <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                            <div class="caption">Узнать больше</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="entryBlock">
                        <div class="entryWrapper">
                          <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x280"></div>
                          <div class="contentBlock">
                            <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                            <div class="caption">Узнать больше</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper">
                      <div class="entryBlock">
                        <div class="entryWrapper">
                          <div class="imageBlock"><img class="image" src="https://via.placeholder.com/369x280"></div>
                          <div class="contentBlock">
                            <div class="title">Высшая школа автомобильного сервиса СФУ</div>
                            <div class="caption">Узнать больше</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

project.pug
extends assets/pug/base
block content
    .frame-projectAlt.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Проекты «Медведь Холдинг»
            .frameContent.wrapper
                .frameContentWrapper
                    .projectListBlock
                        -let proj = 0
                        -const arr=['Доступный сервис','Trade-in','Высшая школа автомобильного сервиса СФУ','Медведь АКБ','Экстрим']
                        ul.projectListAlt
                            while proj < 5
                                li.item
                                    .entryBlock
                                        a.entryWrapper(href="#" data-title=`${arr[proj]}`)
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/500x630")
                                            .contentBlock
                                                .contentWrapper
                                                    .title #{arr[proj]}
                                -proj++
    .frame-careList.frame-sliderSmall.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Забота о клиентах
            .frameContent.wrapper
                .frameContentWrapper
                    .careListBlock.notJs
                        -let slider0 = 0
                        ul.careList(data-swiper-autoplay="2000")
                            while slider0 < 3
                                li.item
                                    .itemWrapper
                                        .entryBlock
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/369x280")
                                                .contentBlock
                                                    .title Высшая школа автомобильного сервиса СФУ
                                                    .caption Узнать больше
                                -slider0++
