share-detail.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Акции</h2>
          <div class="infoBlock">
            <div class="actionBreadcrumbs"><a class="actionMoreBread" href="#">Все акции</a></div>
            <div class="date">Акция с 05.08.2020 до её отмены</div>
          </div>
          <div class="tagsActionBlock">
            <ul class="tagsActionList">
              <li class="tagAction"><a class="action" href="#">Высшая школа автомобильного сервиса</a></li>
            </ul>
          </div>
        </aside>
        <div class="contentMain">
          <div class="headImageBlock">
            <div class="contentBlock">
              <div class="date">Акция с 05.08.2020 до её отмены</div>
              <div class="title">Выгодные условия на кроссовер Skoda Kodiaq в августе!</div>
            </div>
            <div class="imageBlock"><img class="image" src="http://via.placeholder.com/576x320"></div>
          </div>
          <div class="contentEditBlock">
            <h2>Какой он, SKODA KODIAQ?</h2>
            <p>Чешские автомобили высокой проходимости не только привлекают внимание, но и достаточно сильно выбиваются из ряда автомобилей одноклассников. Это касается и SKODA KODIAQ.</p>
            <p>Производители SKODA KODIAQ, стремились его сделать гармоничным во всём: внешность, оформлении салона и комплектации. Этот автомобиль нравится большинству людей уже при первой тестовой поездке, так как таит в себе множество секретов и полезностей для жизни и комфортного использования.</p>
            <p>Автомобиль создавался на модульной платформе MQB, которая лежит в основе многих моделей концерна VAG. Он доступен в пяти и семиместной версии, именно наличие третьего ряда сидений делает его привлекательным для семейной аудитории.</p>
            <p>SKODA KODIAQ – один из самых безопасных кроссоверов. По версии EuroNCAP он получил высший рейтинг — пять звёзд. Краш-тесты показали, что безопасность водителя или взрослого пассажира в автомобиле обеспечивается на 92%, пассажир-ребенок защищён на 77%, пешеход — на 71%.</p>
            <p>Даже в базовой версии автомобиль оснащён системами активной и пассивной безопасности на высоком уровне. Передние и боковые подушки безопасности, преднатяжители ремней, детские ремни Isofix сочетаются с целым рядом электронных помощников водителя:</p>
            <ul>
              <li>система экстренного торможения для защиты пешеходов;</li>
              <li>система автономного экстренного торможения в городских условиях;</li>
              <li>система обеспечения безопасности в междугородных поездках;</li>
              <li>система контроля скорости и другие элементы активной безопасности.</li>
            </ul>
          </div>
          <div class="contentEditBlock">
            <div class="contentImage left">
              <picture>
                <source srcset="http://via.placeholder.com/265x275" media="(min-width: 750px)">
                <source srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)"><img class="image" src="http://via.placeholder.com/265x275">
              </picture>
              <h2>Комплектации и цены</h2>
              <p>Официальный дилер «Медведь-Восток» на 9 Мая, 72, предоставляет покупателям отличный выбор автомобилей в наличии. Помимо стандартных комплектаций Active, Ambition и Sport, автомобиль выпускается в специальных версиях. Ценители предпочитают KODIAQ HOCKEY EDITION, с выгодным набором опций, любителям активного отдыха подойдёт внедорожный KODIAQ Scout. А поклонникам спортивного дизайна достанется самый красивый KODIAQ SPORTLINE.</p>
              <p>Только до конца августа, действует выгода до 235 000 руб., а также выгодный кредит.  Это пожалуй, лучшее время, для приобретения нового эффектного автомобиля.</p>
              <p>Ваш KODIAQ ждёт вас в автосалоне «Медведь-Восток» на ул. 9 Мая, 72 — приезжайте и выберите свой автомобиль! Телефон: +7 391 2 178 728</p>
            </div>
          </div>
          <div class="shareSocialBlock">
            <div class="shareSocialWrapper">
              <div class="caption">Поделитесь с друзьями:</div>
              <div class="socialList">
                <li class="item"><a class="icon-social vk" href="#"></a></li>
                <li class="item"><a class="icon-social facebook" href="#"></a></li>
                <li class="item"><a class="icon-social ok" href="#"></a></li>
              </div>
            </div>
          </div>
          <div class="formFeedbackBlock">
            <div class="formFeedbackWrapper">
              <div class="title">Интересная акция?</div>
              <div class="description">Оставьте свои контакты, мы свяжемся с вами и расскажем подробности</div>
              <div class="formContent">
                <div class="fieldBlock">
                  <ul class="fieldList">
                    <li class="field fieldGroup col">
                      <ul class="fieldList">
                        <li class="field">
                          <label class="wrap">
                            <div class="caption">ФИО *</div>
                            <input type="text" placeholder="Иванов Иван Иванович">
                          </label>
                        </li>
                        <li class="field">
                          <label class="wrap">
                            <div class="caption">Телефон *</div>
                            <input class="phone" type="tel" placeholder="+ 7 (___) ____ ___ ___">
                          </label>
                        </li>
                      </ul>
                    </li>
                    <li class="field fieldGroup col">
                      <ul class="fieldList">
                        <li class="field">
                          <label class="wrap">
                            <input type="checkbox" name="personal" required>
                            <div class="caption">Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a></div>
                          </label>
                        </li>
                        <li class="field">
                          <div class="wrap">
                            <div class="submitBlock">
                              <button class="submit">Жду звонка</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <picture>
                <source srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)">
                <source srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)"><img class="image" src="assets/vis/formfeedback.jpg">
              </picture>
            </div>
          </div>
          <div class="frame-profitList frame-sliderSmall frame">
            <div class="frameWrapper">
              <div class="frameHead">
                <div class="frameHeadWrapper">
                  <div class="titleBlock">
                    <div class="title">Другие выгодные акции</div>
                  </div>
                </div>
              </div>
              <div class="frameContent">
                <div class="frameContentWrapper">
                  <div class="profitListBlock">
                    <ul class="profitList" data-swiper-autoplay="2500">
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/590x510"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="itemWrapper">
                          <div class="entryBlock">
                            <div class="entryWrapper">
                              <div class="imageBlock"><img class="image" src="https://via.placeholder.com/590x510"></div>
                              <div class="contentBlock">
                                <div class="title">Все любят получать подарки, а Volkswagen любит их дарить!</div>
                                <div class="caption">Акция с 05.08.2020 до её отмены</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>

share-detail.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Акции
            .infoBlock
                .actionBreadcrumbs
                    a.actionMoreBread(href="#") Все акции
                .date Акция с 05.08.2020 до её отмены
            .tagsActionBlock
                ul.tagsActionList
                    li.tagAction
                        a.action(href="#") Высшая школа автомобильного сервиса
        .contentMain
            .headImageBlock
                .contentBlock
                    .date Акция с 05.08.2020 до её отмены
                    .title Выгодные условия на кроссовер Skoda Kodiaq в августе!
                .imageBlock
                    img.image(src="http://via.placeholder.com/576x320")
            .contentEditBlock
                h2 Какой он, SKODA KODIAQ?
                p Чешские автомобили высокой проходимости не только привлекают внимание, но и достаточно сильно выбиваются из ряда автомобилей одноклассников. Это касается и SKODA KODIAQ.
                p Производители SKODA KODIAQ, стремились его сделать гармоничным во всём: внешность, оформлении салона и комплектации. Этот автомобиль нравится большинству людей уже при первой тестовой поездке, так как таит в себе множество секретов и полезностей для жизни и комфортного использования.
                p Автомобиль создавался на модульной платформе MQB, которая лежит в основе многих моделей концерна VAG. Он доступен в пяти и семиместной версии, именно наличие третьего ряда сидений делает его привлекательным для семейной аудитории.
                p SKODA KODIAQ – один из самых безопасных кроссоверов. По версии EuroNCAP он получил высший рейтинг — пять звёзд. Краш-тесты показали, что безопасность водителя или взрослого пассажира в автомобиле обеспечивается на 92%, пассажир-ребенок защищён на 77%, пешеход — на 71%.
                p Даже в базовой версии автомобиль оснащён системами активной и пассивной безопасности на высоком уровне. Передние и боковые подушки безопасности, преднатяжители ремней, детские ремни Isofix сочетаются с целым рядом электронных помощников водителя:
                ul
                    li система экстренного торможения для защиты пешеходов;
                    li система автономного экстренного торможения в городских условиях;
                    li система обеспечения безопасности в междугородных поездках;
                    li система контроля скорости и другие элементы активной безопасности.
            .contentEditBlock
                .contentImage.left
                    picture
                        source(srcset="http://via.placeholder.com/265x275" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x275")
                    h2 Комплектации и цены
                    p Официальный дилер «Медведь-Восток» на 9 Мая, 72, предоставляет покупателям отличный выбор автомобилей в наличии. Помимо стандартных комплектаций Active, Ambition и Sport, автомобиль выпускается в специальных версиях. Ценители предпочитают KODIAQ HOCKEY EDITION, с выгодным набором опций, любителям активного отдыха подойдёт внедорожный KODIAQ Scout. А поклонникам спортивного дизайна достанется самый красивый KODIAQ SPORTLINE.
                    p Только до конца августа, действует выгода до 235 000 руб., а также выгодный кредит.  Это пожалуй, лучшее время, для приобретения нового эффектного автомобиля.
                    p Ваш KODIAQ ждёт вас в автосалоне «Медведь-Восток» на ул. 9 Мая, 72 — приезжайте и выберите свой автомобиль! Телефон: +7 391 2 178 728
            .shareSocialBlock
                .shareSocialWrapper
                    .caption Поделитесь с друзьями:
                    .socialList
                        li.item
                            a.icon-social.vk(href="#")
                        li.item
                            a.icon-social.facebook(href="#")
                        li.item
                            a.icon-social.ok(href="#")
            .formFeedbackBlock
                .formFeedbackWrapper
                    .title Интересная акция?
                    .description Оставьте свои контакты, мы свяжемся с вами и расскажем подробности
                    .formContent
                        .fieldBlock
                            ul.fieldList
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                .caption ФИО *
                                                input(type="text" placeholder="Иванов Иван Иванович")
                                        li.field
                                            label.wrap
                                                .caption Телефон *
                                                input.phone(type="tel" placeholder="+ 7 (___) ____ ___ ___")
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                input(type="checkbox" name="personal" required)
                                                .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                                        li.field
                                            .wrap
                                                .submitBlock
                                                    button.submit Жду звонка
                    picture
                        source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formfeedback.jpg")
            .frame-profitList.frame-sliderSmall.frame
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Другие выгодные акции
                    .frameContent
                        .frameContentWrapper
                            .profitListBlock
                                -let slider1 = 0
                                ul.profitList(data-swiper-autoplay="2500")
                                    li.item
                                        .itemWrapper
                                            .entryBlock
                                                .entryWrapper
                                                    .imageBlock
                                                        img.image(src="https://via.placeholder.com/590x510")
                                                    .contentBlock
                                                        .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                        .caption Акция с 05.08.2020 до её отмены
                                    li.item
                                       .itemWrapper
                                           .entryBlock
                                               .entryWrapper
                                                   .imageBlock
                                                       img.image(src="https://via.placeholder.com/590x510")
                                                   .contentBlock
                                                       .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                       .caption Акция с 05.08.2020 до её отмены
