vacation.pug
extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Вакансии
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Дилерские центры
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
            .infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain
        .contentMain
            .vacationHeadBlock
                .imageGallery
                    .imagesListBlock(data-pagination)
                        ul.imagesList(data-swiper-autoplay="3000")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                .contentEditBlock
                    p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                    ul
                        li Работу в престижной, крупной, стабильной компании с 28-летней историей;
                        li Официальное трудоустройство с первого рабочего дня;
                        li Достойную и своевременную заработную плату;
                        li Возможность профессионального (тренинги и корпоративное обучение) и карьерного роста;
                        li Участие в спортивных корпоративных мероприятиях, в том числе бесплатное посещение тренажерного зала ГК «Медведь Холдинг»;
                        li Возможность льготного приобретения и обслуживания автомобиля!
            .accordionListBlock#target
                ul.accordionList
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Продавец
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Программист 1С
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Автомеханик
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Продавец
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
            .formFeedbackBlock.formVacation
                .formFeedbackWrapper
                    .contentWrapper
                        .title Не нашли подходящую вакансию?
                        .description
                            p Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!
                            p Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: <a href="#">resume@medved-holding.com</a>
                            .actionBlock
                                a.action(href="#") Скачать файл-анкету Медведь Холдинг
                            p.small При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии
                    picture
                        source(srcset="assets/vis/formvacation.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formvacation.jpg")

vacation.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>Медведь-холдинг</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="page">
      <header class="header" id="header">
        <div class="headerWrapper">
          <div class="headerContent">
            <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
            <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="headerActions">
              <div class="headerActionsWrapper">
                <div class="actionBlocks">
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html">Записаться на тест-драйв</a></div>
                  <div class="actionBlock"><a class="action actionEntry" data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html">Записаться на сервис</a></div>
                  <div class="actionBlock"><a class="action actionEntry" href="#">Оформить страховку</a></div>
                </div>
                <div class="actionContacts">
                  <div class="cityActionBlock">
                    <div class="cityActionWrapper">
                      <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
                      <div class="cityNavBlock">
                        <ul class="cityNavList">
                          <li class="item"><a href="#">Магнитогорск</a></li>
                          <li class="item"><a href="#">Железногорск</a></li>
                          <li class="item"><a href="#">Санкт-питербург</a></li>
                          <li class="item"><a href="#">Ангарск</a></li>
                          <li class="item"><a href="#">Иркустк</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
                </div>
              </div>
            </div>
            <div class="headerNavigation">
              <div class="headerNavigationWrapper">
                <nav class="navigation">
                  <ul class="navList">
                    <li class="item subjs"><a class="action" href="#">Бренды</a>
                      <div class="navigationSub">
                        <div class="brandListBlock">
                          <ul class="brandImageList">
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"></a></li>
                            <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"></a></li>
                          </ul><a class="caption" href="#">Коммерческие автомобили</a>
                        </div>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Акции</a></li>
                    <li class="item"><a class="action" href="#">Новости</a></li>
                    <li class="item"><a class="action" href="#">Мероприятия</a></li>
                    <li class="item sub"><a class="action" href="#">Проекты</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item sub"><a class="action" href="#">О компании</a>
                      <div class="navigationSub">
                        <ul class="navSubList">
                          <li class="item"><a class="action" href="#">Проекты</a></li>
                          <li class="item"><a class="action" href="#">Trade-In</a></li>
                          <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                          <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                          <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="item"><a class="action" href="#">Контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="headerContentJs">
          <div class="headerContentJsWrapper wrapper"></div>
        </div>
      </header>
      <main class="mainAside wrapper">
        <aside class="aside">
          <h2 class="title">Вакансии</h2>
          <form class="fieldBlock filter" data-request-source="#target" method="get" action="/publications/news/">
            <ul class="fieldList">
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Все города</option>
                    <option value="Красноярск">Красноярск</option>
                    <option value="Питер">Питер</option>
                    <option value="Казань">Казань</option>
                    <option value="Иркутск">Иркутск</option>
                  </select>
                </label>
              </li>
              <li class="field">
                <label class="wrap">
                  <select>
                    <option value="" selected>Дилерские центры</option>
                    <option value="Красноярск">BMW</option>
                    <option value="Питер">SUZUKI</option>
                  </select>
                </label>
              </li>
            </ul>
          </form>
          <div class="infoAction">
            <div class="caption">По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов</div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
            <div class="phoneBlock"><a class="action" href="#">+7 (391) 219-04-65</a></div>
          </div>
        </aside>
        <div class="contentMain"></div>
        <div class="contentMain">
          <div class="vacationHeadBlock">
            <div class="imageGallery">
              <div class="imagesListBlock" data-pagination>
                <ul class="imagesList" data-swiper-autoplay="3000">
                  <li class="item">
                    <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                  </li>
                  <li class="item">
                    <div class="itemWrapper"><img class="image" src="http://via.placeholder.com/851x420"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="contentEditBlock">
              <p>Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:</p>
              <ul>
                <li>Работу в престижной, крупной, стабильной компании с 28-летней историей;</li>
                <li>Официальное трудоустройство с первого рабочего дня;</li>
                <li>Достойную и своевременную заработную плату;</li>
                <li>Возможность профессионального (тренинги и корпоративное обучение) и карьерного роста;</li>
                <li>Участие в спортивных корпоративных мероприятиях, в том числе бесплатное посещение тренажерного зала ГК «Медведь Холдинг»;</li>
                <li>Возможность льготного приобретения и обслуживания автомобиля!</li>
              </ul>
            </div>
          </div>
          <div class="accordionListBlock" id="target">
            <ul class="accordionList">
              <li class="item">
                <div class="entryBlock">
                  <div class="entryWrapper">
                    <div class="headContent">
                      <div class="title">Продавец</div>
                    </div>
                    <div class="contentBlock">
                      <div class="contentWrapper">
                        <div class="infoBlock">
                          <div class="caption">ОБЯЗАННОСТИ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                      </div>
                    </div>
                    <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="entryBlock">
                  <div class="entryWrapper">
                    <div class="headContent">
                      <div class="title">Программист 1С</div>
                    </div>
                    <div class="contentBlock">
                      <div class="contentWrapper">
                        <div class="infoBlock">
                          <div class="caption">ОБЯЗАННОСТИ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:
                            <ul>
                              <li>Автоматизация бизнес-процессов Компании;</li>
                              <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                              <li>Самостоятельное внедрение программных решений;</li>
                              <li>Оказание консультативной поддержки пользователям.</li>
                            </ul>
                          </div>
                        </div>
                        <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                      </div>
                    </div>
                    <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="entryBlock">
                  <div class="entryWrapper">
                    <div class="headContent">
                      <div class="title">Автомеханик</div>
                    </div>
                    <div class="contentBlock">
                      <div class="contentWrapper">
                        <div class="infoBlock">
                          <div class="caption">ОБЯЗАННОСТИ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:
                            <ul>
                              <li>Автоматизация бизнес-процессов Компании;</li>
                              <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                              <li>Самостоятельное внедрение программных решений;</li>
                              <li>Оказание консультативной поддержки пользователям.</li>
                            </ul>
                          </div>
                        </div>
                        <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                      </div>
                    </div>
                    <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="entryBlock">
                  <div class="entryWrapper">
                    <div class="headContent">
                      <div class="title">Продавец</div>
                    </div>
                    <div class="contentBlock">
                      <div class="contentWrapper">
                        <div class="infoBlock">
                          <div class="caption">ОБЯЗАННОСТИ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:</div>
                          <ul>
                            <li>Автоматизация бизнес-процессов Компании;</li>
                            <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                            <li>Самостоятельное внедрение программных решений;</li>
                            <li>Оказание консультативной поддержки пользователям.</li>
                          </ul>
                        </div>
                        <div class="infoBlock">
                          <div class="caption">ТРЕБОВАНИЯ:
                            <ul>
                              <li>Автоматизация бизнес-процессов Компании;</li>
                              <li>Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;</li>
                              <li>Самостоятельное внедрение программных решений;</li>
                              <li>Оказание консультативной поддержки пользователям.</li>
                            </ul>
                          </div>
                        </div>
                        <div class="actionBlock"><a class="action" href="#">Отправить резюме</a></div>
                      </div>
                    </div>
                    <div class="actionBlock"><span class="actionMore" data-visible="Свенуть описание" data-hidden="Подробнее"><span class="caption">Подробнее</span></span></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="formFeedbackBlock formVacation">
            <div class="formFeedbackWrapper">
              <div class="contentWrapper">
                <div class="title">Не нашли подходящую вакансию?</div>
                <div class="description">
                  <p>Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!</p>
                  <p>Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: <a href="#">resume@medved-holding.com</a></p>
                  <div class="actionBlock"><a class="action" href="#">Скачать файл-анкету Медведь Холдинг</a></div>
                  <p class="small">При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии</p>
                </div>
              </div>
              <picture>
                <source srcset="assets/vis/formvacation.jpg" media="(min-width: 750px)">
                <source srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)"><img class="image" src="assets/vis/formvacation.jpg">
              </picture>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footerWrapper">
          <div class="footerContent">
            <div class="logoBlock"><a href="#"><img class="logo" src="assets/vis/logo.png"></a></div>
            <div class="footerActionsBlock">
              <div class="footerActionsWrapper">
                <div class="footerAction footerActionApp">
                  <div class="caption">Загрузите приложение</div>
                  <div class="actionAppsBlock">
                    <div class="actionApps"><a href="#"><img src="assets/vis/appStore.jpg"></a></div>
                    <div class="actionApps"><a href="#"><img src="assets/vis/googlePay.png"></a></div>
                  </div>
                </div>
                <div class="footerAction footerActionSocial">
                  <div class="caption">Следуйте за нами</div>
                  <div class="socialListBlock">
                    <ul class="socialList">
                      <li class="item"><a class="icon-social vk" href="#"></a></li>
                      <li class="item"><a class="icon-social facebook" href="#"></a></li>
                      <li class="item"><a class="icon-social inst" href="#"></a></li>
                      <li class="item"><a class="icon-social youtube" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="footerAction footerActionContact">
                  <div><a class="action phone" href="tel:3912023202"><span>(391)</span> 202-3-202</a></div><a class="action email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a>
                </div>
              </div>
            </div>
            <div class="footerNavigation">
              <nav class="navigation">
                <ul class="navList">
                  <li class="item"><a class="action" href="#">Бренды</a></li>
                  <li class="item"><a class="action" href="#">Акции</a></li>
                  <li class="item"><a class="action" href="#">Новости</a></li>
                  <li class="item"><a class="action" href="#">Мероприятия</a></li>
                  <li class="item"><a class="action" href="#">Проекты</a></li>
                  <li class="item"><a class="action" href="#">О компании</a></li>
                  <li class="item"><a class="action" href="#">Вакансии</a></li>
                  <li class="item"><a class="action" href="#">Контакты</a></li>
                </ul>
              </nav>
            </div>
            <div class="footerDevelop">
              <div class="caption">Разработка сайта</div><a href="#"><img class="image" src="assets/vis/devalente.png"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.slick.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/swiper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/jquery.datedropper.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="assets/js/main.js"></script>
  <script type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU&amp;onload=mapInit"></script>
</html>
