assets/pug/modules/header_notJsContent.pug
header.jsContentHide.header#header
    .headerWrapper
        .headerContent
            .menuBlock
                a.menuSwitch(href="#")
                    span Меню
            .logoBlock
                a.logoWrapper(href="#")
                    img.logo(src="assets/vis/logo.png")
            .headerActions
                .headerActionsWrapper
                    .actionBlocks
                        .actionBlock
                            a.action(href="#") Записаться на тест-драйв
                        .actionBlock
                            a.action(href="#") Записаться на сервис
                        .actionBlock
                            a.action(href="#") Оформить страховку
                    .actionContacts
                        .cityActionBlock
                            .caption  Ваш город:
                            a.actionCity(href="#") Красноярск
                        div
                            a.action-email(href="mailto:sos@medved-holding.com") sos@medved-holding.com
                        a.action-tell(href="tel:3912023202") <span>(391)</span> 202 3 202
            .headerNavigation
                .headerNavigationWrapper
                    nav.navigation
                        ul.navList
                            li.item.subjs
                                a.action(href="#") Бренды
                                .navigationSub
                                    -let brand = 0
                                    .brandListBlock
                                        ul.brandImageList
                                            while brand < 14
                                                li.brandItem
                                                    a.actionBrand(href="#")
                                                        img(src="assets/vis/logo-brand"+brand+".png")
                                                -brand++
                                        a.caption(href="#") Коммерческие автомобили
                            li.item
                                a.action(href="#") Акции
                            li.item
                                a.action(href="#") Новости
                            li.item
                                a.action(href="#") Мероприятия
                            li.item.sub
                                a.action(href="#") Проекты
                                .navigationSub
                                    ul.navSubList
                                        li.item
                                            a.action(href="#") Проекты бла бла
                                        li.item
                                            a.action(href="#") Trade-In
                                        li.item
                                            a.action(href="#") Высшая школа автомобильного сервиса СФУ
                                        li.item
                                            a.action(href="#") Медведь АКБ
                                        li.item
                                            a.action(href="#") Приложение Medved
                            li.item.sub
                                a.action(href="#") О компании
                                .navigationSub
                                    ul.navSubList
                                        li.item
                                            a.action(href="#") Проекты
                                        li.item
                                            a.action(href="#") Trade-In
                                        li.item
                                            a.action(href="#") Высшая школа автомобильного сервиса СФУ
                                        li.item
                                            a.action(href="#") Медведь АКБ
                                        li.item
                                            a.action(href="#") Приложение Medved
                            li.item
                                a.action(href="#") Контакты
    .headerContentJs
        .headerContentJsWrapper.wrapper

assets/pug/modules/header_notJsContent.html

<header class="jsContentHide header" id="header">
  <div class="headerWrapper">
    <div class="headerContent">
      <div class="menuBlock"><a class="menuSwitch" href="#"><span>Меню</span></a></div>
      <div class="logoBlock"><a class="logoWrapper" href="#"><img class="logo" src="assets/vis/logo.png"/></a></div>
      <div class="headerActions">
        <div class="headerActionsWrapper">
          <div class="actionBlocks">
            <div class="actionBlock"><a class="action" href="#">Записаться на тест-драйв</a></div>
            <div class="actionBlock"><a class="action" href="#">Записаться на сервис</a></div>
            <div class="actionBlock"><a class="action" href="#">Оформить страховку</a></div>
          </div>
          <div class="actionContacts">
            <div class="cityActionBlock">
              <div class="caption"> Ваш город:</div><a class="actionCity" href="#">Красноярск</a>
            </div>
            <div><a class="action-email" href="mailto:sos@medved-holding.com">sos@medved-holding.com</a></div><a class="action-tell" href="tel:3912023202"><span>(391)</span> 202 3 202</a>
          </div>
        </div>
      </div>
      <div class="headerNavigation">
        <div class="headerNavigationWrapper">
          <nav class="navigation">
            <ul class="navList">
              <li class="item subjs"><a class="action" href="#">Бренды</a>
                <div class="navigationSub">
                  <div class="brandListBlock">
                    <ul class="brandImageList">
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand0.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand1.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand2.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand3.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand4.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand5.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand6.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand7.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand8.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand9.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand10.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand11.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand12.png"/></a></li>
                      <li class="brandItem"><a class="actionBrand" href="#"><img src="assets/vis/logo-brand13.png"/></a></li>
                    </ul><a class="caption" href="#">Коммерческие автомобили</a>
                  </div>
                </div>
              </li>
              <li class="item"><a class="action" href="#">Акции</a></li>
              <li class="item"><a class="action" href="#">Новости</a></li>
              <li class="item"><a class="action" href="#">Мероприятия</a></li>
              <li class="item sub"><a class="action" href="#">Проекты</a>
                <div class="navigationSub">
                  <ul class="navSubList">
                    <li class="item"><a class="action" href="#">Проекты бла бла</a></li>
                    <li class="item"><a class="action" href="#">Trade-In</a></li>
                    <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                    <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                    <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                  </ul>
                </div>
              </li>
              <li class="item sub"><a class="action" href="#">О компании</a>
                <div class="navigationSub">
                  <ul class="navSubList">
                    <li class="item"><a class="action" href="#">Проекты</a></li>
                    <li class="item"><a class="action" href="#">Trade-In</a></li>
                    <li class="item"><a class="action" href="#">Высшая школа автомобильного сервиса СФУ</a></li>
                    <li class="item"><a class="action" href="#">Медведь АКБ</a></li>
                    <li class="item"><a class="action" href="#">Приложение Medved</a></li>
                  </ul>
                </div>
              </li>
              <li class="item"><a class="action" href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="headerContentJs">
    <div class="headerContentJsWrapper wrapper"></div>
  </div>
</header>
